.search,
.search-result {
    width: 361px;
}
.search {
    display: flex;
    position: relative;
    font-family: var(--font-family);
    height: var(--search-height);
    background-color: rgb(241 241 242);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 30px;
        caret-color: var(--primary);
        color: var(--black);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 22px;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        bottom: 9px;
        right: var(--search-btn-width);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear {
    cursor: pointer;
}

.clear,
.loading {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-btn-width) + 8px);
    top: 50%;
    transform: translateY(-50%);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.9rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.04);
        cursor: pointer;
    }

    &:hover {
        border-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}
