.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    width: var(--default-layout-width);
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    font-size: 2.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    color: #161823;
    margin-left: 16px;
    cursor: pointer;
}

.badge {
    position: absolute;
    left: 16px;
    top: -20%;
    line-height: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    background: rgb(254, 44, 85);
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
}

.user-avatar {
    margin-left: 24px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    object-fit: cover;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
}
